module_3/pytest_framework/__pycache__/calculator.cpython-314.pyc
# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
venv/
env/
.venv/

# VS Code
.vscode/

# MacOS / Windows
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
*.egg-info/
